version: "3.9"
services:
    backend:
        build: .
        ports:
            - "80:80"
        depends_on:
            - db
        environment:
            DB_HOST: db

    db:
        image: "postgres:18"
        restart: always
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        volumes:
            - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
            - db:/data/postgres

volumes:
    db:
